body {
    font-family: Arial, sans-serif;
    background-color: #202124;
    color: #E8EAED;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #303134;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(60, 64, 67, 0.3), 0 4px 8px rgba(60, 64, 67, 0.15);
    width: 350px;
}

.todo-list {
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 5px 0;
    background-color: #3C4043;
    border-radius: 4px;
}

li span {
    flex-grow: 1;
}

.input-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    background-color: #3C4043;
    border-radius: 4px;
    padding: 5px;
}

input[type="text"] {
    width: calc(100% - 100px);
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #3C4043;
    color: #E8EAED;
    font-size: 16px;
}

input[type="text"]::placeholder {
    color: #9AA0A6;
}

button {
    padding: 10px;
    background-color: #757575;
    color: #E8EAED;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

button:hover {
    background-color: #222222;
}

.remove-btn {
    background-color: #757575;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    padding: 5px 10px;
}

.remove-btn:hover {
    background-color: #222222;
}
